<div id="nav-container">
    <nav id="nav-bar">
        <div class="nav-header">
            <img src="../assets/images/ulic-logo.jpg" alt="Logo" class="nav-logo">
            <h1 class="nav-title">ULIC</h1>
        </div>
        <ul class="nav-list">
            <li><a href="../pages/index.html" class="nav-link"><i class="fas fa-home fa-fw"></i><span>Home</span></a></li>
            <li><a href="../pages/calendar.html" class="nav-link"><i class="fas fa-calendar-alt fa-fw"></i><span>Calendar</span></a></li>
            <li><a href="../pages/events.html" class="nav-link"><i class="fas fa-bell fa-fw"></i><span>Events</span></a></li>
            <li><a href="../pages/projects.html" class="nav-link"><i class="fas fa-project-diagram fa-fw"></i><span>Projects</span></a></li>
            <li><a href="../pages/profile.html" class="nav-link"><i class="fas fa-user fa-fw"></i><span>Profile</span></a></li>
        </ul>
        <div class="nav-footer">
            <button id="minimize-btn" class="nav-icon-btn">
                <i class="fas fa-chevron-left"></i>
            </button>
            <div class="nav-options-container">
                <button id="nav-options-btn" class="nav-icon-btn">
                    <i class="fas fa-ellipsis"></i>
                </button>
                <div id="nav-options-menu" class="nav-options-menu">
                    <button data-position="left"><i class="fas fa-window-maximize icon-left"></i><span>Left</span></button>
                    <button data-position="right"><i class="fas fa-window-maximize icon-right"></i><span>Right</span></button>
                    <button data-position="top"><i class="fas fa-window-maximize icon-top"></i><span>Top</span></button>
                    <button data-position="bottom"><i class="fas fa-window-maximize icon-bottom"></i><span>Bottom</span></button>
                </div>
            </div>
        </div>
    </nav>
</div>